html
  head
    title Registro
  body
    h1 Registro de Usuario
    form(action="/register" method="POST")
      label(for="username") Usuario:
      input(type="text" name="username" required)
      br
      label(for="password") Contraseña:
      input(type="password" name="password" required)
      br
      label(for="role") Rol:
      select(name="role")
        option(value="admin") Admin
        option(value="ventas") Ventas
      br
      button(type="submit") Registrarse
